<% was_validated = best_dish.errors.any? %>

<%= form_with(model: best_dish, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = best_dish.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <% if user_was_invalid %>
      <% best_dish.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% venue_class = "form-control" %>
    <% venue_was_invalid = best_dish.errors.include?(:venue) %>

    <% if was_validated %>
      <% if venue_was_invalid %>
        <% venue_class << " is-invalid" %>
      <% else %>
        <% venue_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :venue_id %>
    <%= f.collection_select :venue_id, Venue.all, :id, :to_s, {}, class: "form-control" %>
    <% if venue_was_invalid %>
      <% best_dish.errors.full_messages_for(:venue).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% bookmark_count_class = "form-control" %>
    <% bookmark_count_was_invalid = best_dish.errors.include?(:bookmark_count) %>

    <% if was_validated %>
      <% if bookmark_count_was_invalid %>
        <% bookmark_count_class << " is-invalid" %>
      <% else %>
        <% bookmark_count_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :bookmark_count %>
    <%= f.number_field :bookmark_count, class: bookmark_count_class, placeholder: "Enter bookmark count" %>
    <% if bookmark_count_was_invalid %>
      <% best_dish.errors.full_messages_for(:bookmark_count).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
