<% was_validated = cuisine.errors.any? %>

<%= form_with(model: cuisine, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% venue_class = "form-control" %>
    <% venue_was_invalid = cuisine.errors.include?(:venue) %>

    <% if was_validated %>
      <% if venue_was_invalid %>
        <% venue_class << " is-invalid" %>
      <% else %>
        <% venue_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :venue_id %>
    <%= f.number_field :venue_id, class: venue_class, placeholder: "Enter venue" %>
    <% if venue_was_invalid %>
      <% cuisine.errors.full_messages_for(:venue).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% dish_class = "form-control" %>
    <% dish_was_invalid = cuisine.errors.include?(:dish) %>

    <% if was_validated %>
      <% if dish_was_invalid %>
        <% dish_class << " is-invalid" %>
      <% else %>
        <% dish_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dish_id %>
    <%= f.number_field :dish_id, class: dish_class, placeholder: "Enter dish" %>
    <% if dish_was_invalid %>
      <% cuisine.errors.full_messages_for(:dish).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
