<%= form_with(model: @venue, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :state %>

    <%= f.text_field :state, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city %>

    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :neighborhood %>

    <%= f.text_field :neighborhood, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cuisine_id %>

    <%= f.collection_select :cuisine_id, Cuisine.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create venue", class: "btn btn-block btn-outline-secondary" %>
<% end %>
