<% was_validated = venue.errors.any? %>

<%= form_with(model: venue, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for state start -->
  <div class="form-group">
    <% state_class = "form-control" %>
    <% state_was_invalid = venue.errors.include?(:state) %>

    <% if was_validated %>
      <% if state_was_invalid %>
        <% state_class << " is-invalid" %>
      <% else %>
        <% state_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :state %>
    <!-- Input for state start -->
    <%= f.text_field :state, class: state_class, placeholder: "Enter state" %>
    <!-- Input for state end -->
    <% if state_was_invalid %>
      <% venue.errors.full_messages_for(:state).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for state end -->
  <!-- Label and input for city start -->
  <div class="form-group">
    <% city_class = "form-control" %>
    <% city_was_invalid = venue.errors.include?(:city) %>

    <% if was_validated %>
      <% if city_was_invalid %>
        <% city_class << " is-invalid" %>
      <% else %>
        <% city_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :city %>
    <!-- Input for city start -->
    <%= f.text_field :city, class: city_class, placeholder: "Enter city" %>
    <!-- Input for city end -->
    <% if city_was_invalid %>
      <% venue.errors.full_messages_for(:city).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for city end -->
  <!-- Label and input for neighborhood start -->
  <div class="form-group">
    <% neighborhood_class = "form-control" %>
    <% neighborhood_was_invalid = venue.errors.include?(:neighborhood) %>

    <% if was_validated %>
      <% if neighborhood_was_invalid %>
        <% neighborhood_class << " is-invalid" %>
      <% else %>
        <% neighborhood_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :neighborhood %>
    <!-- Input for neighborhood start -->
    <%= f.text_field :neighborhood, class: neighborhood_class, placeholder: "Enter neighborhood" %>
    <!-- Input for neighborhood end -->
    <% if neighborhood_was_invalid %>
      <% venue.errors.full_messages_for(:neighborhood).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for neighborhood end -->
  <!-- Label and input for cuisine_id start -->
  <div class="form-group">
    <% cuisine_class = "form-control" %>
    <% cuisine_was_invalid = venue.errors.include?(:cuisine) %>

    <% if was_validated %>
      <% if cuisine_was_invalid %>
        <% cuisine_class << " is-invalid" %>
      <% else %>
        <% cuisine_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cuisine_id %>
    <!-- Input for cuisine_id start -->
    <%= f.number_field :cuisine_id, class: cuisine_class, placeholder: "Enter cuisine" %>
    <!-- Input for cuisine_id end -->
    <% if cuisine_was_invalid %>
      <% venue.errors.full_messages_for(:cuisine).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for cuisine_id end -->
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = venue.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% venue.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
