<%= form_with(model: @best_dish, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.text_field :user_id, class: "form-control" %>
  </div>

  <%= f.hidden_field :venue_id, value: @venue.id %>

  <div class="form-group">
    <%= f.label :bookmark_count %>

    <%= f.text_field :bookmark_count, class: "form-control" %>
  </div>

  <%= f.submit "Create best dish", class: "btn btn-block btn-outline-secondary" %>
<% end %>
